<% if user_signed_in? %>
	<h1>Youre Logged in nigga! You can start fucking the faggot in the ass right now!</h1>
<% else %>
	<div class="jumbotron paddio">
	<h1>Welcome to OMRAILS!</h1>
	<p>
	Fuck your mother in the asshole bitch ass faggot
	<%= link_to "Zarfan is a faggot","http://facebook.com" %>
	</p>

	<p>
	
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>

	</div>
	<% end%>